
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: block;
    

}
.border {
    border-bottom: solid 2px grey;
    margin: 3% 0
 
}
.header-img {
    height: 100vh;
    background-image: url("../images/apple-pie.jpg");
    display: flex;
    justify-content: center;
    align-items: center
}
header h1 {
    color:white;
    font-size: 10em;
}

header p {
    text-align: center;
}

.ingredients ul {
    list-style-type: none;
}

.ingredients ul li::before {
    content: "-"
}


.container {
    margin: 2% 20%;
    font-size: 1rem;
    display: block;
}


.img-container {
    margin: 2% 25%;
}



